<div class="container h-100">
    <div class="row align-items-center h-100">
        <div [formGroup]="loginForm" class="col-12 mx-auto">
            <div class="row justify-content-center">
                <img src="../../assets/mofood-logo.png" alt="logo" />
            </div>

            <div class="row justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="email" placeholder="enter your username/email">
                </mat-form-field>
            </div>

            <div class="row justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="enter your password">
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <button mat-raised-button color="primary" (click)="signIn()">Login</button>

            </div>
            <div class="row justify-content-center">
                <a href="/forgot-password">Forgot Password?</a>
            </div>
            <div class="row justify-content-center">
                <a href="/register">Create an account</a>
            </div>
        </div>
    </div>
</div>