<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div *ngIf="cartItems && cartItems.length > 0 && !isOrderPlaced" class="p-2">
                <h4 class="lead">Your Order</h4>

                <div *ngFor="let item of cartItems"
                    class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <!-- <div class="mr-1"><img class="rounded" src="https://via.placeholder.com/70" width="70"></div> -->
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">{{item.name}}</span>
                        <!-- <div class="d-flex flex-row product-desc">
                            <div class="level mr-1"><span class="text-grey">Spice Level:</span><span class="font-weight-bold">&nbsp;Medium</span></div>
                        </div> -->
                    </div>
                    <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger"></i>
                        <h5 class="text-grey mt-1 mr-1 ml-1">1</h5><i class="fa fa-plus text-success"></i>
                    </div>
                    <div>
                        <h5 class="text-grey">{{item.currencyType}} {{item.price}}</h5>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash mb-1 text-danger"></i></div>
                </div>

                <!-- <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                    <input type="text" class="form-control border-0 gift-card" placeholder="discount code/gift card">
                    <button class="btn btn-outline-warning btn-sm ml-2" type="button">Apply</button>
                </div> -->

                <span class="font-weight-bold">Total: {{totalAmount}}</span>

                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                    <button class="btn btn-warning btn-block btn-lg ml-2 pay-button" click="makePayment(totalAmount)"
                        (click)="placeOrder()" type="button">Place Order</button>
                </div>
            </div>

            <div *ngIf="cartItems && cartItems.length <= 0 && !isOrderPlaced">
                <div class="jumbotron text-center">
                    <h1 class="display-3">Your cart is current empty.</h1>
                    <hr>
                    <p class="lead">
                        <a class="btn btn-primary btn-sm" [routerLink]="'/home'" role="button"> 
                            Go Back to homepage</a>
                    </p>
                </div>
            </div>
            
            <div *ngIf="isOrderPlaced">
                <div class="jumbotron text-center">
                    <h1 class="display-3">Thank You!</h1>
                    <p class="lead"><strong>Your order has been placed.</strong></p>
                    <hr>
                    <p class="lead">
                        <a class="btn btn-primary btn-sm" [routerLink]="'/home'" role="button">Continue
                            to homepage</a>
                    </p>
                </div>
            </div>

        </div>


    </div>