<body>
    <div>
        <p>Here are the items you have selected from the resturants:</p>

        <H1>Item Details:</H1>

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Item One Details</h5>
                        <p>Item Name:</p>
                        <p>Item Quantity:</p>
                        <p>Price:</p>
                        <p>sides:</p>
                    </div>
                </div>
            </div>


            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Item three Details</h5>
                        <p>Item Name:</p>
                        <p>Item Quantity:</p>
                        <p>Price:</p>
                        <p>sides:</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Item four details</h5>
                        <p>Item Name:</p>
                        <p>Item Quantity:</p>
                        <p>Price:</p>
                        <p>sides:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h2>Final Order submission:</h2>
            <P>Total Price of the order:</P>

        </div>

        <p>If you are happy with your order please press the submit button.</p>


        <div>
            <a class="btn btn-primary" href="/profile" role="button">Submit Order</a>

        </div>
    </div>

</body>