.toolbar-style {
    background-color: #000;
    color: white;
}

.menu-spacer {
    flex: 1 1 auto;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.footer {
    background-color: #810000;
    margin: 0;
    flex-shrink: none;

    ul {
        img {
            width: 64px;
            height: 64px;
        }

        display: flex;
        flex-direction: row;
        list-style-type: none;

    }
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
    padding-bottom: 2rem;
    padding-top: 4rem;
}

a {
    color: white;
}

::ng-deep mat-toolbar {
    height: 64px;
    position: fixed;
    z-index: 100;
    width: 100%  !important;
    // margin-top: -3.5% !important;
}

// ::ng-deep .mat-tab-group {
//     // margin-top: 10% !important;
// }

// ::ng-deep .mat-tab-header {
//     z-index: 999;
//     width: 100vw;
//     position: fixed !important;
// }

// ::ng-deep .mat-tab-body-wrapper {
//     position: relative !important;
//     // margin-bottom: 10% !important;
// }