<mat-toolbar class="toolbar-style">
    <mat-toolbar-row>
        <h1>MoFood</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button (click)="goToHome()"> Home </a>
            <a mat-button (click)="goToLogin()"> Login </a>
            <a mat-button (click)="goToRegister()"> Register </a>
            <a mat-button (click)="goToCart()">Cart</a>
            <a mat-button (click)="goToProfile()"> Profile</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid h-100">
    <router-outlet></router-outlet>
    <app-toasts></app-toasts>
</div>