<div class="jumbotron jumbotron-fluid home-main">

  <div class="container">
    <h1 class="display-4"><img src="../../assets/mofood-logo.png" alt="logo" /></h1>
    <p class="lead">"Enjoy your favorite meals at your doorstep 🤤"</p>
    <p *ngIf="!isLoggedIn()">
      <a class="btn btn-primary btn-lg" role="button" href="/login">Get Started</a>
    </p>
  </div>
</div>

<div class="home-search">
  <form class="restaurant-form">
    <mat-form-field class="full-width">
      <mat-label>Search for your favourite resturants here ...</mat-label>
      <input type="text" placeholder="search..." matInput [formControl]="restaurantsListControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="viewMenuByName($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="restaurant-listing row justify-content-center">
  <div class="container">
    <mat-progress-spinner *ngIf="restaurants.length <= 0" [diameter]="25" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="restaurants.length > 0" class="row">
      <div class="col-sm-2 card" *ngFor="let restaurant of restaurants">
        <img class="card-img-top" src="../../assets/res{{restaurant.id}}.jpg" alt="{{restaurant.name}}">
        <div class="card-body">
          <h5 class="card-title">{{restaurant.name}}</h5>
          <p class="card-text">{{restaurant.description}}</p>
          <a (click)="viewMenu(restaurant.id)" mat-button class="btn btn-primary">View Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>