.home-main {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url("../../assets/main-bg.jpg");
  background-size: cover;
  background-color: #8f4068;
  color: whitesmoke;
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;

  h3 {
    margin: 0;
  }
}

.lead{
  text-shadow: 0px 3px 5px #000;
}

.home-search {
  //   background-color: black;
  padding-top: 10px;
  text-align: center;
}

.restaurant-form {
  min-width: 300px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.restaurant-listing {
  img {
    width: 150px;
    height: 150px;
  }
}
