<div class="jumbotron jumbotron-fluid home-main">

  <div class="container">
    <h1 class="display-4"><img src="../../assets/mofood-logo.png" alt="logo" /></h1>
    <p class="lead">"Enjoy your favorite meals at your doorstep 🤤"</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button" href="/login">Get Started</a>
    </p>
  </div>
</div>

<div class="home-search">
  <form class="restaurant-form">
    <mat-form-field class="full-width">
      <mat-label>Search for your favourite resturants here ...</mat-label>
      <input type="text" placeholder="search..." matInput [formControl]="restaurantsListControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="restaurant-listing row wrap">
  <div class="card-group">
    <div class="col-sm-2 card">
      <img class="card-img-top" src="../../assets/res1.jpg" alt="res 1">
      <div class="card-body">
        <h5 class="card-title">Restaurant 1</h5>
        <p class="card-text">Description</p>
        <a (click)="viewMenu()" mat-button class="btn btn-primary">View Menu</a>
      </div>
    </div>
    <div class="col-sm-2 card">
      <img class="card-img-top" src="../../assets/res2.jpg" alt="res 1">
      <div class="card-body">
        <h5 class="card-title">Restaurant 2</h5>
        <p class="card-text">Description</p>
        <a (click)="viewMenu()" mat-button class="btn btn-primary">View Menu</a>
      </div>
    </div>
    <div class="col-sm-2 card">
      <img class="card-img-top" src="../../assets/res3.jpg" alt="res 1">
      <div class="card-body">
        <h5 class="card-title">Restaurant 3</h5>
        <p class="card-text">Description</p>
        <a (click)="viewMenu()" mat-button class="btn btn-primary">View Menu</a>
      </div>
    </div>
    <div class="col-sm-2 card">
      <img class="card-img-top" src="../../assets/res1.jpg" alt="res 1">
      <div class="card-body">
        <h5 class="card-title">Restaurant 4</h5>
        <p class="card-text">Description</p>
        <a (click)="viewMenu()" mat-button class="btn btn-primary">View Menu</a>
      </div>
    </div>
    <div class="col-sm-2 card">
      <img class="card-img-top" src="../../assets/res4.jpg" alt="res 1">
      <div class="card-body">
        <h5 class="card-title">Restaurant 5</h5>
        <p class="card-text">Description</p>
        <a (click)="viewMenu()" mat-button class="btn btn-primary">View Menu</a>
      </div>
    </div>
    <div class="col-sm-2 card">
      <img class="card-img-top" src="../../assets/download.jpg" alt="res 1">
      <div class="card-body">
        <h5 class="card-title">Restaurant 6</h5>
        <p class="card-text">Description</p>
        <a (click)="viewMenu()" mat-button class="btn btn-primary">View Menu</a>
      </div>
    </div>
  </div>
</div>