.home-main {
  background-color:#8f4068;
  color: whitesmoke;
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;

  h3 {
    margin: 0;
  }
}

.home-search {
  //   background-color: black;
  padding-top: 10px;
  text-align: center;
}

.restaurant-form {
  min-width: 300px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.restaurant-listing {
  display: flex;
  justify-content: center;
  min-height: 300px;
  padding: 18px;
  //  background-color: #cee6b4;
  img {
    width: 150px;
    height: 150px;
  }
}


