<div class="container h-100">
    <div class="row align-items-center h-100">
        <div [formGroup]="registerForm" class="col-12 mx-auto">
            <div class="row justify-content-center">
                <img src="../../assets/mofood-logo.png" alt="logo" />
            </div>

            <div class="row justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter your firstname">
                </mat-form-field>
            </div>

            <div class="row justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter your lastname">
                </mat-form-field>
            </div>

            <div class="row justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" formControlplaceholder="Enter your email">
                </mat-form-field>
            </div>

            <div class="row justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Enter your password">
                </mat-form-field>
            </div>

            <div class="row justify-content-center">
                <button mat-raised-button color="primary" (click)="signUp()">Create Account</button>
            </div>
        </div>
    </div>
</div>